astroid==1.6.6
autoflake==1.2
backports.functools-lru-cache==1.5
certifi==2019.3.9
chardet==3.0.4
configparser==3.7.4
enum34==1.1.6
futures==3.2.0
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
isort==4.3.17
Jinja2==2.10.1
lazy-object-proxy==1.3.1
lint==1.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
pkg-resources==0.0.0
pyflakes==2.1.1
pylint==1.9.4
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
urllib3==1.24.1
wrapt==1.11.1
